.w-webflow-badge {
  display: none !important;
}

/* Image */
.img-stan {
  opacity: 0;
}

/* Lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Canvas */
canvas {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  pointer-events: none;
  /* opacity: 0.5; */
}
